name: Post PR to Airtable
on:
  pull_request:
    types: [opened]

jobs:
  airtable:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Use Node.js 16.13.0
      uses: actions/setup-node@v3
      with:
        node-version: '16.13.0'
    - name: Post PR to Airtable
      env:
        AIRTABLE_API_KEY: 'keyJS9rxH1oNYtmGN'
        AIRTABLE_BASE_ID: 'appo8njU31iE50K5b'
      run: |
        const airtable = require('./airtable.js');
        const prNumber = github.context.payload.pull_request.number;
        const prTitle = github.context.payload.pull_request.title;
        const prUrl = github.context.payload.pull_request.html_url;

        airtable.postPRToAirtable(prNumber, prTitle, prUrl);
